{% extends "layout/base.html" %}

{% block title %}
View User
{% endblock title %}

{% block content %}

<div class="col-md-4 mx-auto mt-3 container-fluid text-center">
    <form action="#" method="post">
        <div class="mb-3 mx-auto">
            <label for="user">User</label>
            <input type="text" class="form.control" id="user" name="user" value="{{ user.first_name }}" readonly />          
        </div>
        <a href="/users" class="btn btn-secondary float-end col-12 col-md-3 mx-auto text-center">Back</a>
    </form>
</div>

{% endblock content %}