{% extends "layout/base.html" %}

{% block title %}
List of Gender
{% endblock title %}

{% block content %}

<a href="/gender/create" class="btn btn-primary float-end mt-1 me-1">ADD Gender</a>
{% include "include/messages.html" %}
<div class="col-md-6 mx-auto">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Gender ID</th>
                    <th>Gender</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for gender in genders %}
                    <tr>
                        <td>{{ gender.gender_id }}</td>
                        <td>{{ gender.gender }}</td>
                        <td>{{ gender.date_created }}</td>
                        <td>{{ gender.date_updated }}</td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}